.check {
  opacity: 0.5;
  /* color: #996; */
}

.box {
  margin-bottom: 5px;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

canvas {
  margin: 0 auto;
}

.row > *,
#sketch-holder {
  margin: 0 auto;
}
